.wrapper {
  text-align: center;

  // GLOBAL
  .ant-divider {
    margin: 40px 0;
  }
  .divider {
    background: -webkit-linear-gradient(to left, #ec2f4b, #1890ff); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #ec2f4b, #1890ff);
  }
  .divider-alt {
    background: -webkit-linear-gradient(to right, #ec2f4b, #1890ff); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ec2f4b, #1890ff);
  }

  .header {
    background: white;

    .menu {
      line-height: 64px;
      margin: 0 auto;
      max-width: 1200px;
      text-align: right;
    }
  }

  .name {
    font-size: 40px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    background-image: linear-gradient(198deg, #096dd9, #865aa4, #f5222d);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }

  .title {
    font-family: "Roboto Slab", sans-serif;
    font-weight: 200;
  }

  .p {
    font-size: 20px;
    line-height: 1.5em;
  }

  // ANIMATION
  .delay-05s {
    animation-delay: 0.5s;
  }

  // HOME PAGE
  .home {
    .content {
      max-width: 600px;
      // margin-top: calc(10vh);

      h3 {
        font-weight: normal;
        margin-bottom: 2em;
      }

      .home-actions {
        display: flex;
        justify-content: space-evenly;
      }
    }
  }

  // RESUME PAGE
  .resume {
    .intro span {
      border-bottom: 1px dotted #000;
    }
    .all-skills {
      display: flex;
      flex-wrap: wrap;
      text-align: left;
    }
    .skill-card {
      padding: 30px;

      .ant-card {
        width: 300px;
        &:hover {
          border-color: #865aa4;

          i {
            color: #865aa4;
          }

          .ant-card-head-title {
            transition: all 0.2s;
            background-image: linear-gradient(-165deg, #096dd9, #865aa4, #f5222d);
            color: transparent;
            background-clip: text;
            -webkit-background-clip: text;
          }
        }
      }

      .ant-card-head-title {
        font-size: 30px;
      }

      .anticon {
        font-size: 30px;
      }

      ul {
        padding: 0;
        margin-left: 5px;
      }

      li {
        list-style: none;
      }
    }

    .work-timeline {
      margin-top: 30px;
      .ant-timeline-item-head {
        background: transparent;
      }
      p {
        color: #000;
        font-size: 16px;
        margin: 5px 0;
      }
      span {
        color: grey;
      }
    }
  }

  // CONTACT PAGE
  .contact {
    .profile-links {
      width: 200px;
      margin: auto;
      display: flex;
      justify-content: space-evenly;
    }
  }

  // FOOTER
  .site-footer {
    background: white;
  }
}
